language: python

python:
   - "3.5"

sudo: false

install:
    - pip install --upgrade pip
    - pip --version
    - pip install coverage
    - pip install pylint
    - pip install requests
    - pip install flask
    - pip install sqlalchemy
    - pip install psycopg2
    - pip install Flask-SQLAlchemy
    - pip install autopep8
    - pip install epydoc

before_script:
    - uname -a
    - printenv
    - pip list
    - coverage --version
    - pylint   --version

script:
    - date
    - ls -al
    - make test