.positioning {
  text-align: center;
}

.table-positioning {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  left: 9%;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}