<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Songs</title>

    <style>
    .table thead,
.table th {text-align: center;}
    </style>

    <!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
<!--     <link href="static/css/carousel.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/grid.css') }}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/years">YEARS</a></li>
                <li><a href="/songs">SONGS</a></li>
                <li><a href="/artists">ARTISTS</a></li>
                <li><a href="/genres">GENRES</a></li>
                <form action="/search/" method="GET" onsubmit="return search()" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input type="text" id="search_term" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </form>
              </ul>
            </div>
          </div>
        </nav>

<div class="table-positioning">
    <h2>You searched for "<u>{{ term }}</u>"</h2>
    <div class="table-responsive">

    {% if andArtist|length or orArtist|length > 0 %}
        <table id="artists" class="display table" width="100%"> 
        <h3 align="left"><i>ARTISTS</i></h3>
        <thead> 
        <tr>
          <th>Artist Name</th>      
        </tr>
        </thead>  
        <tbody>
        <tr><td><h4>AND results</h4></td></tr>
        {% for a in andArtist %}
        <tr>
          <td><a href="/artists/{{ a.Artist.artist_id }}">
                {{ a.h_name|safe }}
            </a></td>
        </tr>
        {% endfor %}
        <tr><td><h4>OR results</h4></td></tr>
        {% for o in orArtist %}
        <tr>
          <td><a href="/artists/{{ o.Artist.artist_id }}">
                {{ o.h_name|safe }}
            </a></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    {% if andSong|length or orSong|length > 0 %}
        <table id="songs" class="display table" width="100%"> 
            <h3 align="left"><i>SONGS</i></h3>
        <thead> 
        <tr>
          <th>Song Name</th>
          <th>Album Name</th>        
        </tr>
        </thead>  
        <tbody>
         <tr><td><h4>AND results</h4></td><td></td></tr>
        {% for a in andSong %}
        <tr>
            <td><a href="/songs/{{ a.Song.song_id }}">{{ a.h_song_name|safe }}</a></td>
            <td>{{ a.h_album_name|safe }}</td>
        </tr>
        {% endfor %}
        <tr><td><h4>OR results</h4></td><td></td></tr>
        {% for o in orSong %}
        <tr>
            <td><a href="/songs/{{ o.Song.song_id }}">{{ o.h_song_name|safe }}</a></td>
            <td>{{ o.h_album_name|safe }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    {% if andYear|length or orYear|length > 0 %}
        <table id="years" class="display table" width="100%"> 
         <h3 align="left"><i>YEARS</i></h3>
        <thead> 
        <tr>
          <th>Year</th>
          <th>Top Album Name</th>    
        </tr>
        </thead>  
        <tbody>
        <tr><td><h4>AND results</h4></td><td></td></tr>
        {% for a in andYear %}
          <tr>
          <td><a href="/years/{{ a.Year.year }}">{{ a.h_year|safe }}</a></td>
          <td>{{ a.h_top_album_name|safe }}</td>
        </tr>
        {% endfor %}
        <tr><td><h4>OR results</h4></td><td></td></tr>
        {% for o in orYear %}
          <tr>
          <td><a href="/years/{{ o.Year.year }}">{{ o.h_year|safe }}</a></td>
          <td>{{ o.h_top_album_name|safe }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    {% if andGenre|length or orGenre|length > 0 %}
        <table id="genres" class="display table" width="100%"> 
         <h3 align="left"><i>GENRES</i></h3>
        <thead> 
        <tr>
          <th>Name</th>
          <th>Description</th>     
        </tr>
        </thead>  
        <tbody>
            <tr><td><h4>AND results</h4></td><td></td></tr>
        {% for a in andGenre %}
          <tr>
          <td><a href="/genres/{{ a.Genre.name }}">{{ a.h_name|safe }}</a></td>
          <td>{{ a.h_description|safe }}</a></td>
        </tr>
        {% endfor %}
        <tr><td><h4>OR results</h4></td><td></td></tr>
        {% for o in orGenre %}
          <tr>
          <td><a href="/genres/{{ o.Genre.name }}">{{ o.h_name|safe }}</a></td>
          <td>{{ o.h_description|safe }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}


    </div>  

      <!-- FOOTER -->
      <footer>
        <a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" 
    href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
    <link rel="stylesheet" 
    href="http://cdn.datatables.net/rowreorder/1.1.2/css/rowReorder.dataTables.min.css"></style>
    <link rel="stylesheet" 
    href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css"></style>
    <script type="text/javascript" 
    src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" 
    src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" 
    src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" 
    src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function(){
        $('#songs').dataTable({bFilter: false, bSort: false});
        $('#artists').dataTable({bFilter: false, bSort: false});
        $('#genres').dataTable({bFilter: false, bSort: false});
        $('#years').dataTable({bFilter: false, bSort: false});
    });
    </script>

    <script type="text/javascript">
    function search() {
        var search = document.getElementById("search_term").value;
        window.location = '/search/' + search;
        return false;
    };

    </script>   
  </body>
</html>