<!DOCTYPE html>

<html lang ="en">
	<div class="chart"></div>
	<script>
		var xmlhttp = new XMLHttpRequest();
		var url = "http://sweetify.me/api/years";
		var year_data = []
		xmlhttp.onreadystatechange = function() {
		   if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
		   	   window.alert(xmlhttp.responseText);
		       var myArr = JSON.parse(xmlhttp.responseText);
		       for (var i = 0; i < myArr.length; i++)
		       {
		       		window.alert(myArr[i]);
		       }
		   }
		};
		xmlhttp.open("GET", url, true);
		xmlhttp.send();

		// function getYearInfo(arr)
		// {
		// 	for (i = 0; i < arr.length; i++)
		// 	{
		// 		var url = "http://sweetify.me/api/years/" + arr[i];
		// 		var year_info = JSON.parse(xmlhttp)


		// 	}
		// }
	
		// function myFunction(args)
		// {
			// jQuery.get("http://sweetify.me/api/years", function(response){alert(response);});
			// var genres = [];


			// var x = d3.scale.linear()
			//     .domain([0, d3.max(data)])
			//     .range([0, 420]);

			// d3.select(".chart")
			//   .selectAll("div")
			//     .data(data)
			//   .enter().append("div")
			//     .style("width", function(d) { return x(d) + "px"; })
			//     .text(function(d) { return d; });
		// }
	</script>		
	<!-- <body onload="myFunction();"></body> -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/carousel.css" rel="stylesheet">
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</html>